<div class="tabbed-form">
  <nav class="tabbed">
    <a class="active" href="#dsire-db">
      <h3>DSIRE Database</h3>
    </a>
    <a href="#roi-cal">
      <h3>DLC Database</h3>
    </a>
    <a href="#req-rebate">
      <h3>Payback Analysis</h3>
    </a>
  </nav>
  <div id="form-wrapper">
    <form id="dsire-db" class="finder active">
      <div class="wrapper">
        <span class="inner">
          <img class="left" src="/img/esco/ESCOimage-US.jpg" alt="">
        </span>
        <span class="inner right">
          <h3>DSIRE Database</h3>
          <p>Search the Database of State Incentives (DSIRE) for your local programs.</p>
          <p>Click <a target="_blank" href="http://www.dsireusa.org/">here</a> to access the DSIRE Database.</p>
          <img src="img/esco/dsire-logo.png" alt="">
        </span>
      </div>
    </form>
    <form id="roi-cal" class="finder">
      <div class="wrapper">
        <span class="inner">
          <img class="left" src="/img/esco/ESCOpage-DLC.jpg" alt="">
        </span>
        <span class="inner right">
          <h3>DLC Database</h3>
          <p>Many, if not most, rebates today are contingent on the product being “DLC Qualified” meaning the product has been certified to meet stringent standards of LED fixture performance.</p>
          <p>For a list of Universal’s DesignLights® Consortium QPL Listed products please visit: <a target="_blank" href="https://www.designlights.org/search/?accountCollectionID=8a80818f58dc1aa7015975ad47ee7775&search=Universal%20Lighting%20Technologies">www.designlights.org/qpl/en/saved/UBU24XJ</a></p>
          <img width="120px" src="img/esco/DLC-QPL-LISTED-logo.png" alt="">
        </span>
      </div>
    </form>
    <form id="req-rebate" class="finder">
      <div class="wrapper">
        <span class="inner">
          <img class="left" src="/img/esco/36432220_xl.jpg" alt="">
        </span>
        <span class="inner right">
          <h3>Request for Payback Analysis</h3>
          <p>Universal has a team standing by to assist you with payback analysis.</p>
          <p>Click <a target="_blank" href="mailto:sphillips@unvlt.com?Subject=Request%20For%20Payback%20Analysis">here</a> to inquire.</p>
        </span>
      </div>
    </form>
  </div>
</div>