<div class="tabbed-form">
  <nav class="tabbed">
    <a class="active" href="#spec">
      <h3>Spec Finder</h3>
    </a>
    <a href="#lit">
      <h3>Literature Finder</h3>
    </a>
  </nav>
  <div id="form-wrapper">
<script type="text/javascript">

var productType;

//livesearch autocomplete for catalog number 
function showSpecResult(str){

if (str.length==0) { 
  document.getElementById("livesearch-spec").innerHTML="";
  document.getElementById("livesearch-spec").style.border="0px";
  return;
}
if (window.XMLHttpRequest){// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
} else {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
}
xmlhttp.onreadystatechange=function() {
  if (xmlhttp.readyState==4 && xmlhttp.status==200) {
    $('#livesearch-spec').show();
    //document.getElementById("livesearch-spec").innerHTML=xmlhttp.responseText;//ie8 bug
    $('#livesearch-spec').html(xmlhttp.responseText);
  }
}
  switch(productType) {
   case 'ballasts':
    xmlhttp.open("GET","ballastspec/livesearch-homepage-ballasts.php?q="+str+"&b="+$("#ballast-type").val());
    xmlhttp.send();
    break;
   case 'drivers':
    xmlhttp.open("GET","ballastspec/livesearch-homepage-drivers.php?q="+str+"&b="+$("#ballast-type").val());
    xmlhttp.send();
    break;
   case 'modules':
    xmlhttp.open("GET","ballastspec/livesearch-homepage-modules.php?q="+str+"&b="+$("#ballast-type").val());
    xmlhttp.send();
  }
}
function fillSpec(thisValue) {
  $('#catalog-number-spec').val(thisValue);
  setTimeout("$('#livesearch-spec').hide();", 200);
}

function showModelInput() {
  $('#model-number-input').css('visibility', 'visible');
  $('#model-number-submit').css('visibility', 'visible');
  productType = $('#ballast-type').val();
}

</script>
    <form id="spec" class="finder active" action="/literature/spec-finder.html" method="GET" autocomplete="off">
      <div class="wrapper">
        <p>
          Find the information you need right now. Select a product type from the dropdown menu then enter a model number to get started.
        </p>
        <ul class="options">
          <li>
            <label>Product Type</label>
             <select name="ballast-type" id="ballast-type" onChange="javascript:showModelInput();">
             <option value="">Select Product Type</option>
             <option value="ballasts">Ballasts</option>
             <option value="drivers">LED Drivers</option>
             <option value="modules">LED Modules</option>
             </select>
          </li>
          <li style="visibility:hidden" id="model-number-input">
            <label>Model or catalog Number</label>
            <input type="text" id="catalog-number-spec" name="catalog-number" placeholder="Enter Catalog Number" onkeyup="showSpecResult(this.value)" >
            <div id="livesearch-spec" class="livesearch"></div>
          </li>
          <li class="button" style="visibility:hidden" id="model-number-submit">
            <input type="submit" value="Find Specs">
          </li>
        </ul>
      </div>
    </form>

    <form id="lit" class="finder" action="/literature/literature-finder/literature-results.html" method="GET" autocomplete="off">
      <div class="wrapper">
        <p>
          Find the information you need right now. Select a product type from the dropdown menu or enter a model number to get started.
        </p>
        <ul class="options">
          <li>
            <label>Literature Type</label>
            <select name="parent-category" id="parent-category">
              <option value="93">Flyers & Brochures</option>
              <option value="94">Cross Reference</option>
              <option value="95">Troubleshooting & Maintenance</option>
              <option value="96">ULT-Portrait - Case Studies</option>
              <option value="97">Articles & Technical Papers</option>
              <option value="98">Retrofit Diagrams</option>
            </select>
          </li>
         
          <li>
            <!--<label>Model or catalog Number</label>
            <input type="text" id="catalog-number-lit" name="catalog-number" placeholder="Enter Catalog Number" onkeyup="showLitResult(this.value)">
            <div id="livesearch-lit" class="livesearch"></div>-->
          <li class="button">
            <input type="submit" value="Find Literature"></li>
          
        </ul>
      </div>
    </form>
  </div>
</div>