
/*Base styles: opinionated defaults
======================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

.right-callout {
    float: right;
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
}

.left-callout {
    width: 40%;
    float: left;
    box-sizing: border-box;
    margin: 10px;
}

body {
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
    line-height: 150%;
    color:#333;
    background: #303030;
}

a {
    color: #007ac3;
    text-decoration: none;
}

a:hover {
    color: #333;
    text-decoration: underline;
}

a:focus {
    outline: none;
}

a:visited {
    color: #075c92;
    text-decoration: underline;
}

/*
 * Remove text-shadow in selection highlight
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers
 */

img {
    vertical-align: middle;
    max-width: 100%;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/*Chrome Frame prompt
======================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* Global styles
======================================================================== */

h1, h2, h3, h4, h5, h6 {
    color: #007ac3;
    font-weight: 700;
}

h1, h2, p {
    margin: 0 0 15px;
}

h3, h4, h5, h6 {
    margin:0 0 10px;
}

.content {padding:35px 0 0;}


header.site,
header#main-banner,
.content {
    background: #fff;
    width: 100%;
    overflow: hidden;
}

input[type="text"], input[type="search"], input[type="password"], input[type="date"], input[type="email"], input[type="tel"] {
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.25) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25) inset;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25) inset;
    -o-box-shadow: 0 1px 2px rgba(0,0,0,0.25) inset;
    border:1px solid #dfdfdf;
    padding: 5px 8px;
    font-size: 12px;
}

input[type="search"]  {
    background: url('../img/icons/search-icon.png') 95% 50% no-repeat;
}

input[type="text"]:focus, input[type="search"]:focus, select:focus  {
    outline: none
}

input[type="button"], input[type="submit"] {
    background: #007ac3;
    color: #fff;
    border:0;
    text-transform: capitalize;
    padding:7px 15px;
}

input[type="button"]:hover, input[type="submit"]:hover {
    background: #0664a0;
    color: #fff;
}

input[type="button"]:active, input[type="submit"]:active {
    background: #004877;
    color: #fff;
}

select {
    background: url("../img/select/dropdown-icon.png") no-repeat scroll 96% 1px #FEFEFE;
    padding: 6px 6px 7px;
    font-size: 11px;
    line-height: 1;
    border: 1px solid #d2d2d2;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
   -webkit-appearance: none;

}

.wrapper {
    padding:10px;
}

section {
    margin-bottom: 35px;
}

/* One Clearfix Rule
======================================================================== */

.pagination, #literature #brochures .wrapper,  #literature #case-studies .wrapper, .specifications li, ul#main-tabs, #sidebar #cross-reference, #sidebar #spec.finder, #sidebar #lit.finder,  .subcategories, #filter form#specs, div.row

 {
    overflow:hidden;
    width:100%;
}

#sidebar #spec.finder{
	overflow:visible;
}


/*Remove styles from lists
======================================================================== */


ul {
    margin:0;
    padding:0;
    list-style: none;
}


/* Site Header
======================================================================== */


header.site {
    padding:15px 0;
}

header #register-form {
    font-weight: bold;
    text-align: right;
}

header nav#account a {
    text-decoration: none;
}

header nav#account a:hover {
    text-decoration: underline;
    color:#333;
}

header nav#account span {
    color:#ddd;
    padding:0 10px;
}

header.site form input[type="search"] {
    width: 85%;
    margin:7px auto 10px;
}


/* Main Nav
======================================================================== */

#main-navigation ul.site li {
    float: left;
    margin:0 20px;
    position: relative;
}

#main-navigation ul.site li.home {
    margin:11px 30px 0 0;
}

#main-navigation ul.site li.home a {
    background: url('../img/icons/home-icon.png')0 2px no-repeat;
    width: 14px;
    height: 14px;
    padding: 0;
}



#main-navigation ul.site li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    display: block;
    padding: 10px 20px 7px;
}

#main-navigation ul.site li:hover a {
    color: #007ac3;
    background: #e9e8e9;
}

#main-navigation ul.site li.home a:hover {
     background: url('../img/icons/home-icon.png') 0 -15px no-repeat;
}

#main-navigation ul.site li .dropdown {
    display: none;
    position: absolute;
    background: #e9e8e9;
    padding:20px;
    width:575px;
    z-index: 1000;
    -webkit-box-shadow: 0px 6px 10px rgba(152, 152, 152, 0.45);
    -moz-box-shadow: 0px 6px 10px rgba(152, 152, 152, 0.45);
    box-shadow: 0px 6px 10px rgba(152, 152, 152, 0.45);
}

#main-navigation ul.site li .dropdown figure {
    float: left;
    width: 225px;
}

#main-navigation ul.site li .dropdown figure a {
    background: url('../img/tabs/blue-tab.png') -155px 0 no-repeat;
    display: block;
    padding:7px;
    width: 131px;
    text-transform: capitalize;
    color: #fff;
}

#main-navigation ul.site li .dropdown figure a:hover {
    background-position: -155px -75px;
    color: #fff;
}

#main-navigation ul.site li .dropdown figure a span {
    background: url('../img/icons/arrows.png') 111px 2px no-repeat;
    padding-right: 45px;
}

#main-navigation ul.site li .dropdown .sub-categories {
    font-size: 13px;
    margin-left:20px;
    width: 320px;
    float: right;
}

#main-navigation ul.site li .dropdown .sub-categories li {
    float: none;
    margin:0;
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #efefef;
    background:url('../img/icons/nav-arrows.png') 100% -26px no-repeat;
}

#main-navigation ul.site li .dropdown .sub-categories li.title {
    background: none;
}

#main-navigation ul.site li .dropdown .sub-categories li:first-child {
    border-top: 0;
}


#main-navigation ul.site li .dropdown .sub-categories li:last-child {
    border-bottom: 0;
}

#main-navigation ul.site li .literature.dropdown, #main-navigation ul.site li .about.dropdown {
    width: 250px;
}

#main-navigation ul.site li .literature.dropdown .sub-categories, #main-navigation ul.site li .about.dropdown .sub-categories {
    margin-left:0px;
    width: 100%;
    float: none;
}

#main-navigation ul.site li .support.dropdown {
    width: 650px;
}

#main-navigation ul.site li .support.dropdown .sub-categories {
    width: 30%;
    float: left;
    margin-left: 0;
    margin-bottom: 0;
}

#main-navigation ul.site li .support.dropdown .sub-categories.odd {
    margin-right: 15px;
}

#main-navigation ul.site li .literature.dropdown .sub-categories li {
    margin:0;
}

#main-navigation ul.site li .dropdown .sub-categories li:hover, #main-navigation ul.site li .literature.dropdown .sub-categories li:hover {
    /*background-position: 100% -66px;*/
    background-position: 100% -89px;
}

#main-navigation ul.site li .dropdown .sub-categories li.two-lines {
    background-position: 100% -14px;
}

#main-navigation ul.site li .dropdown .sub-categories li.two-lines:hover, #main-navigation ul.site li .literature.dropdown .sub-categories li.two-lines:hover {
    /*background-position: 100% -54px;*/
    background-position: 100% -77px;
}

#main-navigation ul.site li .dropdown .sub-categories  a {
    text-transform: capitalize;
    padding:10px 35px;
    color: #007ac3;
    background: url('../img/icons/product-families.png') 0 -426px no-repeat;
}

#main-navigation ul.site li .literature.dropdown .sub-categories li a, #main-navigation ul.site li .support.dropdown .sub-categories li a, #main-navigation ul.site li .about.dropdown .sub-categories li a {
    background:none;
    padding-left: 0;
}

#main-navigation ul.site li .dropdown .sub-categories a.compact {
    background-position:0 -467px;
}

#main-navigation ul.site li .dropdown .sub-categories a.energy-management {
    background: url('../img/icons/dimming-logo.png') 4px 50% no-repeat;
}

#main-navigation ul.site li .dropdown .sub-categories a.linear {
    background-position:0 -562px;
}

#main-navigation ul.site li .dropdown .sub-categories a.electronic {
    background-position:0 -603px;
}

#main-navigation ul.site li .dropdown .sub-categories a.lamps {
    background-position:0 -645px;
}

#main-navigation ul.site li .dropdown .sub-categories a.sign {
    background: url('../img/icons/sign-icon.png') 4px 50% no-repeat;
}

#main-navigation ul.site li .dropdown .sub-categories a.sensors {
    background: url('../img/icons/sensor.png') 4px 50% no-repeat;
}

#main-navigation ul.site li .dropdown .sub-categories a.retrofit {
    background: url('../img/icons/retrofit.png') 4px 50% no-repeat;
}

#main-navigation ul.site li .dropdown .sub-categories a.space {
     background: url('../img/icons/spaceplayer.png') 4px 50% no-repeat;
}

#main-navigation ul.site li .dropdown .sub-categories  a:hover {
    color: #000;
}

#main-navigation ul.site li:hover .dropdown {
    display: block;
    top: 38px;
    left: 0;
}

#main-navigation nav.social {
    text-align: right;
    margin-top:9px;
}

#main-navigation nav.social a {
    margin:0 4px;
    background: url('../img/social/social.png') 1px -1px no-repeat;
    display: inline-block;
    padding: 10px 12px;
}

#main-navigation nav.social a.twitter {
    background-position: -31px  -1px;
}

#main-navigation nav.social a.linkedin {
    background-position: -62px  -1px;
}

#main-navigation nav.social a:hover {
    background-position-y:-26px;
}


/* Page Name
======================================================================== */

header#main-banner {
    background: #d7d6d7; /* Old browsers */
    background: -moz-linear-gradient(top,  #d7d6d7 0%, #ffffff 80%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7d6d7), color-stop(80%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d7d6d7 0%,#ffffff 80%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d7d6d7 0%,#ffffff 80%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d7d6d7 0%,#ffffff 80%); /* IE10+ */
    background: linear-gradient(to bottom,  #d7d6d7 0%,#ffffff 80%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7d6d7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    height: 400px;
}

header#main-banner h1 {
    font-size: 88px;
    text-transform: uppercase;
    line-height: 100%;
    margin:50px 0  7px;
    letter-spacing: -3px;
}

header#main-banner p.banner-text {
    line-height: 175%;
    margin-bottom: 25px;
}

#rotator {
    width: 100%;
    position: relative;
}

#rotator a.prev, #rotator a.next {
    position: absolute;
    top:50px;
    z-index: 500;
    display: block;
    width: 105px;
    height: 270px;
}

#rotator a.prev:hover, #rotator a.next:hover {
    display: none;
}

.opacity #rotator a.prev, .opacity #rotator a.next {
    display: block;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.opacity #rotator a.prev:hover, .opacity #rotator a.next:hover {
    opacity: 1;
    display: block;
}

#rotator a.prev:hover, #rotator a.next:hover {
    display: block;
}

#rotator a.prev {
    left: -30px;
    background: url('../img/rotator/prev.png') 0 50% no-repeat;
}

#rotator a.next {
    right: 0;
    background: url('../img/rotator/next.png') 70px 50% no-repeat;
}

#rotator-wrap {
    position: relative;
    width: 200%;
}

#rotator .rotator-item {
    height: 398px;
    position: absolute;
    z-index: 100;
    left:100%;
    width: 57%;
}

#rotator .rotator-item h1{
    width: 61%;
    padding-left: 15px;
}

#rotator .rotator-item p.banner-text {
    width: 41%;
    padding-left: 15px;
}

#rotator .rotator-item.active {
    left: 0;
}


/****** Temporary Styles for large rotator information **********/

#e-learning-center h1{
    font-size: 41px !important;
}

#dali-premium-dimming h1{
    font-size: 41px !important;
}

#enhanced-energy-savings h1{
    font-size: 41px !important;
}

#featured-products h1{
    font-size: 60px !important;
}

#featured-products p.banner-text{
    width: 52% !important;
}

header#main-banner img {
    float: right;
}

header#main-banner.secondary {
    height: 216px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


header#main-banner.secondary h1 {
    font-size: 40px;
    margin:75px 0 10px;
    width: 100%;
    letter-spacing: -1px;
    width: 770px;
}

header#main-banner.secondary p {
    margin-bottom: 70px;
    max-width: 540px;
}

#twitter-feed {
    color: #fff;
    padding:10px 0;
}

#twitter-feed p {
    padding-left:35px;
    font-size: 13px;
    margin-bottom: 0;
    background: url('../img/social/social.png') -92px -1px no-repeat;
}

#twitter-feed a {
    color: #fff;
}

#twitter-feed a:hover {
    color: #d2d2d2;
}

#twitter-feed .date {
    font-style: italic;
    padding:0 5px;
}

.divider {
    padding:21px;
}


/* HOME PAGE*/

/* Hero Unit Tabs
======================================================================== */


#main-tabs {
    height: 118px;
    overflow: hidden;
    position:relative;
    top:283px;
    z-index: 300;
}

li.tab {
    color:#fff;
    margin-top:77px;
}

#main-tabs li.tab header {
    padding:10px 10px 0;
    background: url('../img/tabs/blue-tab.png') 0 0 no-repeat;
}

#main-tabs li.tab .wrapper {
    background:#007ac3;
    min-height: 135px;
}

#main-tabs li.tab h3 {
    color: #fff;
    font-size: 16px !important;
    margin-bottom: 0px;
}


#main-tabs li.tab h3 span{
    font-size: 16px !important;
}

#main-tabs li.tab img {
    float:left;
    margin:0 15px 15px;
}

#main-tabs li.tab p {
    font-size: 12px;
    line-height: 125%;
}

#main-tabs li.tab a {
    color:#97d406;
    text-decoration: none;
}

#main-tabs li.tab a:hover {
    text-decoration: underline;
}

/* Product Call Out
======================================================================== */


figure.call-out {
    width: 100%;
    overflow: hidden;
    background:#efeeee;
    margin-bottom: 25px;
    border-top:1px solid #dfdfdf;
    border-right:1px solid #efefef;
    border-bottom:1px solid #efefef;
    border-left:1px solid #dfdfdf;
}

figure.call-out img {
    float:left;
    padding:20px 15px 20px 20px;
    max-width: 255px;
}

figure.call-out h2 {
    line-height: 1.2;
    /*padding:20px 20px 0 0;*/
    font-size: 26px;
    font-weight: normal;
}

figure.call-out p {
    /*padding:0 20px 20px 290px;*/
}

figure.call-out a {
    display: block;
    margin-top:4px;
}

figure.call-out a.spec-finder {
    float: right;
    margin:20px 0 0;
}

/* Product Families
======================================================================== */


ul#families li {
    margin-bottom: 15px;
    float:left;
    background: url('../img/icons/product-families.png') 0 0 no-repeat;
    background-color: #303030;
}

ul#families li#linear {
    background-position:0 -220px;
}

ul#families li#compact {
    background-position:0 -72px;
}

ul#families li#electronic {
    background-position:0 -291px;
}

ul#families li#energy {
    background: url('../img/icons/dimming-flourescent.png') 0 0 no-repeat;
    background-position:0 0;
    background-color: #303030;
}

ul#families li#lamps {
    background-position:0 -364px;
}

ul#families li#sensors {
	background: url('../img/icons/family-sensors.png') 0 0 no-repeat;
    background-position:0 0;
    background-color: #303030;
}

ul#families li#retrofit {
    background: url('../img/icons/family-retrofit.png') 0 0 no-repeat;
    background-position:0 0;
    background-color: #303030;
}

ul#families li#signs {
    background: url('../img/icons/family-signs_thumb.png') 0 0 no-repeat;
    background-position:0 0;
    background-color: #303030;
}

ul#families li.odd {
    margin-right: 25px;
}

ul#families li a.two-lines {
    padding: 9px 55px 8px 63px;
    width: 179px;
    line-height: 125%;
}

ul#families li a {
    display: block;
    width:219px;
    padding:15px 15px 15px 63px;
    color:#fff;
    text-decoration: none;
}

ul#families li a:hover {
    color:#d6d6d6;
}

li.button {
    margin:7px 0;
}


/* Sidebar
======================================================================== */

#sidebar #cross-reference, #sidebar .tabbed-form a.active, #sidebar #spec.finder, #sidebar #lit.finder, #sidebar #last.finder, #spec.intl, #lit.intl {
    background: #c0e568;
}

#spec.intl, #lit.intl {
    margin-top:15px;
}

#sidebar #cross-reference, #sidebar #spec.finder, #sidebar #lit.finder, #sidebar #spec-finder, #spec.intl, #lit.intl {
    padding-bottom: 5px;
    margin-bottom: 25px;
}

#sidebar #cross-reference {
    position: relative;
    width: 100%;
    overflow: visible;
    clear: both;

}

#sidebar #cross-reference #livesearch {
    left: 16px;
    width: 200px;
}

#sidebar #cross-reference h3, #sidebar .tabbed-form a h3, #sidebar #spec-finder h3 {
    color:#303030;
    font-size: 16px;
}

#sidebar .tabbed-form, #sidebar #spec-finder {
    position: relative;
    z-index: 900;
    width: 100%;
     /* overflow: hidden;  */
}

#sidebar .tabbed, #sidebar #spec-finder.support, #sidebar #spec-finder.lit {
    background: #a1d81c;
}

#sidebar .tabbed-form a {
    display: inline-block;
    text-align: center;
    padding:15px 18px 8px 19px;
    text-decoration: none;
}

#sidebar .tabbed-form h3 {
    margin:0;
    text-align: center;
}

#sidebar #cross-reference input[type="text"] {
    width: 204px;
    margin-right: 5px;
}

#sidebar #form-wrapper {
    position: relative;
}

#sidebar #spec.finder, #sidebar #lit.finder, #sidebar #last.finder, #sidebar #dsire-db.finder, #sidebar #roi-cal.finder, #sidebar #req-rebate.finder {
    display: none;
}

#sidebar #spec.finder.active, #sidebar #lit.finder.active, #sidebar #last.finder.active, #sidebar #dsire-db.finder.active, #sidebar #roi-cal.finder.active, #sidebar #req-rebate.finder.active {
    display: block;
}

#sidebar #spec.finder.active, #sidebar #lit.finder.active {
    z-index: 100;
}

#sidebar #spec.finder li, #sidebar #lit.finder li {
    margin-bottom: 10px;
    position: relative;
}

#sidebar #spec.finder li.button, #sidebar #lit.finder li.button {
    text-align: right;
    margin-bottom: 0;
}

#sidebar #spec.finder p, #sidebar #lit.finder p, #sidebar label  {
    font-size: 12px;
}

#sidebar label, #spec.intl label, #lit.intl label {
    font-weight: bold;
    margin-right: 10px;
    width: 93px;
    float: left;
    line-height: 100%;
    text-align: right;
    padding-top: 5px;
}

#spec.intl label, #lit.intl label {
    width: 100%;
    text-align: left;
    margin-bottom: 6px;
}

#sidebar label.navigator {
    width: 100%;
    float: none;
}

#spec.finder .livesearch, #lit.finder .livesearch {
    left: 110px;
    width: 154px;
}

#spec.finder .half .livesearch {
    left: 7px;
    width: 189px;
}

#spec.finder select, #lit.finder select {
    width: 177px;
}

#spec.intl select, #lit.intl select {
    width: 100%;
    margin-bottom: 9px;
}

#spec.finder input[type="text"], #lit.finder input[type="text"] {
    width: 159px;
}

#spec.intl input[type="text"], #lit.intl input[type="text"] {
    width: 263px;
    margin-bottom: 9px;
}

#spec.finder input[type="submit"], #lit.finder input[type="submit"] {
    margin:5px 0 0;
}

#spec.intl input[type="submit"], #lit.intl input[type="submit"] {
    float: right;
    margin-bottom: 9px;
}


.more-choices  li {
    border-bottom: 1px solid #d6d6d6;
}

.more-choices li a {
    padding:10px 35px 10px 10px;
    display: block;
    color: #007ac3;
    text-decoration: none;
    background:url('../img/icons/arrows.png') 269px -25px no-repeat;
}

.more-choices li a:hover {
    color:#000;
    background:url('../img/icons/arrows.png') 269px -65px  no-repeat;
}

.more-choices  li:last-child {
    border-bottom: 0;
}


.disclaimer{
    color: red;
    font-style: italic;
    font-size: 12px;
}

.litCallout img{
    width: 100px;
    float: none !important;
    display: block;
    margin-top: 17px;
}


/* END  HOME PAGE =============================================================
==========================================================================


/* SPEC FINDER*/

/* Product Specifications
======================================================================== */

.product-wrap {
    background:#e2e1e1;
    width: 100%;
    overflow: hidden;
}

 li.category-tab {
    margin:0;
    background:#ece9e9;
    border-right:2px solid #fff;
    border-bottom:2px solid #fff;
}

li.category-tab.active {
    background:#e2e1e1;
    border-right: 2px solid #e2e1e1;
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-bottom: 1px solid #d1d1d1;
}

li.category-tab:last-child {
    border-bottom: 0;
}

li.category-tab a {
    display: block;
    font-weight: bold;
    padding:10px 0 10px 15px;
    text-decoration: none;
    color:#333;
}

li.category-tab a:hover {
    color: #007ac3;
}

.result-filter {
    width: 100%;
    overflow: visible;
    clear: both;
}

#product-specifications #specs, .products {
    background:#e2e1e1;
    margin:0;
    padding:20px;
}

#product-specifications #spotTrack,
#product-specifications #downlightAccentWall,
#product-specifications #cove,
#product-specifications #pendantStrips,
#product-specifications #highbayLowbay,
#product-specifications #troffer,
#product-specifications #floodAreaCanopy {
    background:#e2e1e1;
    margin:0;
    padding:20px;
}

.products {
    overflow: hidden;
}

#product-specifications .specifications li, .products  li {
    position: relative;
    margin-bottom: 19px;
}

.specifications{
    margin-top: 8px;
}

.redx , .greencheck{
/*margin-top: -21px;
text-align: right;
width: 100%;
display: block;*/
position: absolute;
top:1px;
right:0;
float: none !important;
}

#product-specifications .specifications label {
    float:left;
    font-size: 13px;
}

.products  img {
    margin-bottom: 7px;
}

.products  label {
    display: block;
    margin-bottom: 3px;
}

#product-specifications .specifications label {
    width:95px;
}


#product-specifications #specs li select, .products  li select {
    width:185px;
    margin-right: 15px;
}

#product-specifications #specs li select {
    float: right;
}

.result-filter {
    position: relative;
}

.opacity .livesearch {
    opacity: .9;
}

.livesearch {
    float: left;
    position: absolute;
    z-index: 1000;
    margin: -1px 0 0;
    background-color: #fff;
    border-top: 0;
    color: #444;
    font-size: 12px;
    max-height: 232px;
    overflow: hidden;
    padding:0 5px;
}

.result-filter .livesearch {
    left: 102px;
    width: 227px;
}

#livesearch li {
    padding: 5px 0;
    margin-bottom: 0;
    cursor: pointer;
    list-style: none;
    line-height:110%
}

.livesearch li:hover {
    background-color: #007ac3;
    color: #fff;
}

#cross-ref-results .row {
    margin-bottom: 7px;
}

#cross-ref-results h2 {
    float: left;
    margin-bottom: 0;
}

#cross-ref-results #specs {
    float: right;
}

.led-output-volt-constant-drivers label{
    margin-right: 5px;
}


.led-output-volt-constant-drivers input{
    width: 169px;
}


/* Search Results ====================================================================== */


table {
    font-size: 12px;
}

thead td {
    background: #007ac3;
    color:#fff;
    font-weight: 100;
    padding:7px 0;
}

tr {
    background: #ece9e9;
    border-bottom: 1px solid #fff;
}

tr.odd {
    background: #e2e1e1;
}

td {
    text-align: center;
    padding:10px 0;
}

.pagination {
    background: #007ac3;
    padding:9px 0;
}

.paginate {
    margin-left: 15px;
}

.paginate li {
    float:left;
}

.paginate li a {
    background: url('../img/pagination/page-bg.png') 0 -27px no-repeat;
    padding: 3px 12px;
    display: block;
}

.paginate li a:hover {
    background-position: 0 0;
    color: #007ac3;
    text-decoration: none;
}

.paginate .active {
     background-position: 0 0;
}

.pagination .pagination-controls {
    float:right;
    margin-right: 15px;
}

.pagination .pages a, .pagination .pagination-controls a {
    text-align: center;
    color:#000000;
    text-decoration: none;
    font-size: 12px;
    display: inline-block;
}

.pagination .pages a:hover, .pagination .pagination-controls a:hover {
    color: #007ac3;
}

.pagination .pagination-controls a {
    padding:2px 9px;
    background: url('../img/pagination/next-prev.png') 0 -27px no-repeat;
}

.pagination .pagination-controls a:hover {
    background-position: 0 0;
}

.pagination .pagination-controls a.prev {
    margin-right: 10px;
}


/* Brochures & Case Studies
======================================================================= */


#literature #brochures,  #literature #case-studies {
    margin-bottom: 35px;
}


#literature .brochure, #literature .case-study {
    margin-bottom: 25px;
    height: 175px;
}

#literature .brochure h4.title, #literature .case-study h4.title {
    font-size: 14px;
    line-height: 125%;
    margin-bottom: 3px;
}

#literature .brochure span, #literature .case-study span {
    font-size: 12px;
    display: block;
}

#literature #brochures img,  #literature #case-studies img , #archive img{
    float:left;
    margin:0 15px 7px 0;
    border:2px solid #99999c;
    width:66px;
    height:96px;
}

#literature #brochures .wrapper,  #literature #case-studies .wrapper {
    padding:0;
}

#archiveList{
    float: left;
    clear: both;
    margin-top: 35px;

}

a.download {
    background: url('../img/icons/download-icon.png') 0 50% no-repeat;
    padding:4px 0 4px 26px;
    text-decoration: none;
    margin-bottom: 8px;
    display: block;
}

a.download:hover {
    color: #333;
    text-decoration: underline;
}


/* END  SPEC FINDER PAGE =============================================================
==============================================================================



/* LITERATURE*/

/* Find Literature
========================================================================== */

#literature-options {
    position: relative;
    width: 100%;
}

#literature-slider {
    width:100%;
    position: relative;
    top:0;
    left:0;
    height: 256px;
    background: #e2e1e1;
}

#literature-category {
    position: absolute;
    left: 300px;
    margin:0;
    width: 1650px;
}

.category-options {
    float: left;
    width: 280px;
    background: #e2e1e1;
    padding: 12px 20px 20px;
    display: none;
}

#brochure.category-options.top {
    display: block;
}

.subcategories {
    display: none;
}

.subcategories li {
    float: left;
    min-width: 50%;
    background: none;
    height: 32px;
    border:0;
    line-height: 110%;
}

.categories .subcategories.two li {

}

.categories .subcategories li a.sub-nav {
    padding-top:0;
}

#spec-finder p {
    text-align: center;
    font-weight: bold;
}



li.category {
    margin:0;
    border-bottom: 1px solid #d2d2d2;
    border-top: 1px solid #efefef;
    background:url('../img/icons/arrows.png') 97% -30px no-repeat;
    font-size: 13px;
}

li.category:first-child {
    border-top: 0;
}

li.category:last-child {
    border-bottom: 0;
}

li.category a {
    padding:6px 30px 6px 0;
    display: block;
    text-decoration: none;
    line-height: 140%;
}

li.category a:hover, li.category.active, li.category:hover, li.category.active a {
    background-position: 97% -70px;
    color:#000;
}

.subcategories  a:hover, .subcategories li.active  a {
    color: #000;
}

li.category.active .subcategories a {
    color: #007ac3;
}

li.category.active .subcategories a:hover {
    color:#000;
    text-decoration: underline;
}

.literature {
    width: 290px;
    padding:15px;
    position: absolute;
    right:0;
    top:0;
    background: #e2e1e1;
}


.literature {
    z-index: 1;
    display: none;
}

.literature.top, .category.top {
    z-index: 100;
    display: block;
}

select#brochure {
    width: 229px;
    margin:10px 0;
}



/* Find Specifications
========================================================================== */

a.tab {
    display: block;
    background: url('../img/tabs/blue-tab.png') 100% 0 no-repeat;
    text-align: center;
    padding: 12px;
    margin:0 auto;
    color: #fff;
    text-decoration: none;
    width: 255px;
}

a.tab.odd {
    margin-bottom: 15px;
}

a.tab:hover {
    background-position: 100% -75px;
}

#sidebar #spec-finder .catalog {
    margin:0;
}

#sidebar #spec-finder .catalog input[type="text"] {
    width: 201px;
    margin-right: 5px;
}

#sidebar #spec-finder .catalog #livesearch.livesearch {
    left: 18px;
    width: 195px;
}

 #results-filter {
    background: #e9e8e9;
 }

#results-filter h3, #results-filter .filter {
    float: left;
    padding:20px;
    margin-bottom: 0;
  }

#results-filter form {
    float: left;
    overflow: hidden;
  }

#results-filter h3, #results-filter .filter  select {
    width: 210px;
  }

/* END  LITERATURE PAGE ====================================================================================================================================


/* COMPACT FLOURESCENT BALLASTS*/

.options {
    margin-right: 0;
}

.products {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 123px;
}

.product-info {
    display: none;
    z-index: 100;
}

.product-info.active {
   display: block;
   z-index: 300;
}

.product-info img {
    float: left;
    border:1px solid #dfdfdf;
    padding:1px;
}

.product-info select {
    width: 188px;
}


/* END  COMPACT FLOURESCENT BALLASTS PAGE =====================================================================================================================


/* CROSS REFERENCE RESULTS*/

#filter #specs,  #results-info {
    background: #e9e8e9;
}

.filter-results, .search-again {
    float: left;
    padding:20px;
    position: relative;
    width: 440px;
    overflow: visible;
}

.search-again input[type="text"] {
    width: 190px;
}

.search-again #livesearch {
    left: 110px;
    width: 186px;
}

#cross-ref-results #results-info {
    padding:20px 20px 30px;
}

#competitor, #universal, #notes {
    float: left;
    width: 30%;
    margin-bottom: 10px;
}

#competitor, #universal {
    margin-right: 5%;
}

#competitor h4, #universal h4 {
    padding-bottom: 8px;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 0;
}

#competitor h3, #universal h3 {
    padding:21px 0 0;
    font-size: 26px;
    border-top: 1px solid #efefef;
}

#notes p {
    padding:15px;
    background: #efefef;
    border-top: 1px solid #dfdfdf;
    border-right: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    border-left: 1px solid #dfdfdf;
}

/* END  CROSS REFERENCE RESULTS PAGE ================================================
==========================================================================



/* MAIN PRODUCTS PAGE*/

#product-types {
    margin: 35px auto;
     position: relative;
}

#product-types #product-wrap {
    position: relative;
    overflow: hidden;
    width:880px;
    height: 425px;
    margin:0 auto;
}

#product-types #product-scroll {
    width:1760px;
    height: auto;
    position: absolute;
    top:0;
    left: 0;
}



#product-types a.prev, #product-types a.next {
    position: absolute;
    top:50px;
    z-index: 500;
    display: block;
    width: 105px;
    height: 270px;
}

#product-typesr a.prev:hover, #product-types a.next:hover {
    display: none;
}

.opacity #product-types a.prev, .opacity #product-types a.next {
    display: block;
    opacity: .35;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.opacity #product-types a.prev:hover, .opacity #product-types a.next:hover {
    opacity: 1;
    display: block;
}

#product-types a.prev:hover, #product-types a.next:hover {
    display: block;
}

#product-types a.prev {
    left: 0;
    background: url('../img/rotator/prev.png') 0 50% no-repeat;
}

#product-types a.next {
    right: 0;
    background: url('../img/rotator/next.png') 70px 50% no-repeat;
}

#product-types figure {
    margin:0 10px 0 0;
    width: 210px;
    float: left;
}

#product-types figure.omega {
    margin-right: 0;
}

#product-types figure img {
    margin-bottom: 7px;
    max-width: 100%;
}

.figure-wrap {
    padding:10px;
    background: #efefef;
    border-top: 1px solid #dfdfdf;
    border-right: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    border-left: 1px solid #dfdfdf;
    min-height: 400px;
}


/* END MAIN PRODUCTS PAGE =======================================================
==========================================================================

/* ABOUT PAGE*/



#about-main h3 {
    margin: 15px 0 7px;
}

#about-main ul {
    margin:0 0 35px 25px;
}

#about-main ul li {
    margin-bottom: 7px;
}

#about-main ul.locations {
    margin-left:0;
}

.callout {
    margin-bottom: 25px;
}

.callout img {
    margin-bottom: 6px;
    padding:5px;
    border:1px solid #ece9e9;
}

.callout p {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 110%;
}

div.half img.left {
    float: left;
    width: 50%;
    margin-right: 10px;
}

.quote {
    padding:15px;
    margin:0 auto 15px;
    background: #ece9e9;
}

.quote.full {
    padding:40px 65px;
    margin:0 auto 35px;
}

.quote.half {
    float: left;
    width: 430px;
    overflow: hidden;
    margin-bottom: 25px;
    min-height: 385px;
}

.quote.half.first {
    margin-right: 20px;
}

.quote img {
    max-width: 200px;
    float: left;
    border:1px solid #efefef;
    margin-right: 10px;
}

.quote.half img {
    max-width: 175px;
}

.quote span {
    display: block;
    text-align: right;
}

.quote .author {
    font-weight: bold;
    font-size: 18px;
    margin-top:15px;
}

.quote .title {
    font-style: italic;
}

ul.partners, ul.awards {
    margin-bottom: 35px;
}

ul.partners {
    width: 100%;
    overflow: hidden;
    margin-left: 35px;
}

ul.partners li {
    float: left;
    width: 50%;
    margin-bottom: 9px;
    font-weight: bold;
}

.career-benefits {
    margin:35px 0;
}

.career-benefits.last {
    padding-left: 20px;
}

/* END ABOUT PAGE =======================================================
==========================================================================


/* REGISTER PAGE*/

#register {
    width: 440px;
    margin:25px auto 75px;
    padding:20px;
    background: #e9e8e9;
}

#register dl {
    margin-bottom: 30px;
}

#register dl dd {
    margin: 0 0 20px;
}

#register input[type="text"], #register input[type="password"] {
    width: 95%;
    margin:0 auto;
    padding:10px;
    font-size: 14px;
}

/* END REGISTER PAGE =======================================================
==========================================================================


/* SUPPORT PAGE*/

#more-information, .docs {
    margin-top: 25px;
}

.service-type, .intl-contact, .intl-quick-links {
    float:left;
    width: 40.5%;
    margin-bottom: 10px;
    color: #fff;
    text-decoration: none;
    background: #303030;
    line-height: 100%;
}

.intl-quick-links {
    width: 47.5%;
}

.service-type {
    background: url('../img/tabs/endcap.jpg') #007ac3 100%  0 no-repeat;
}

.intl-contact {
    background: url('../img/tabs/blue-tab.png') -49px 0px no-repeat;
}

.intl-quick-links {
    background: url('../img/tabs/blue-tab.png') -6px 0px no-repeat;
}

.intl-quick-links:hover {
    background-position: -6px -75px;
    text-decoration: none;
}

.intl-quick-links span {
        color: #fff;
}

.service-type {
    padding:19px 15px;
}

.intl-contact span, .intl-quick-links span {
    display: block;
    padding:19px 15px;
}

.intl-quick-links span.hover, .intl-quick-links span.line-two {
    display: none;
}

.intl-quick-links:hover span.first {
    display: none;
}

.intl-quick-links:hover span.hover, .intl-quick-links:hover span.line-two {
    display: block;
}

.intl-quick-links span.hover:hover, .intl-quick-links span.line-two:hover {
    color:#d6d6d6;
    text-decoration: underline;
}

.intl-quick-links span.hover {
    padding:10px 15px 2px;
}

.intl-quick-links span.line-two {
    padding:3px 15px 9px;
}

.intl-contact span.hover, .intl-contact span.line-two {
    display: none;
}

.intl-contact a {
    color:#fff;
}

.intl-contact a:visited, a.service-type:visited {
    color: #fff;
}

.intl-contact a:hover {
    color:#d6d6d6;
}

.intl-quick-links:hover a {
    text-decoration: none;
}

.intl-contact:hover span {
    display: none;
}

.intl-contact:hover span.hover,  .intl-contact:hover span.line-two {
    display: block;
    background: url('../img/icons/email-icon.png') no-repeat;
    padding-left: 35px;
}

.intl-contact:hover span.hover {
    background-position: 13px 50%;
}

.intl-contact:hover span.hover.two-lines {
    background-position: 13px 11px;
}

.intl-contact:hover span.line-two {
    background-position: 13px 6px;
}

.intl-contact:hover span.line-two.phone {
    background: none;
}

.intl-contact span.hover.two-lines {
    padding:9px 15px 3px 35px;
}

.intl-contact:hover span.line-two {
    padding:3px 15px 9px 35px;
}

.intl-contact, .service-type.odd, .intl-quick-links.odd {
    margin-right: 5%;
}

.service-type:hover {
    background-position: 100% -53px;
    background-color: #303030;
    color: #fff;
    text-decoration: none;
}

.intl-contact:hover {
    background-position: 100% -75px;
}

.service-type.two-lines:hover  {
    padding:11px 15px;
}

.service-type.two-lines:hover span.hover {
    line-height: 110%;
}

#spec .half {
    width: 210px;
    float: left;
    padding:10px;

}
#spec .half label {
    float: none;
    text-align: left;
    margin-bottom: 4px;
}

#spec .half  input[type="text"] {
    width: 194px;
}

#spec .half select {
    width: 211px;
}

#led-drivers label span{
    font-size: 10px;
    font-style: italic;
}

ul.more-information {
    width: 100%;
    overflow: hidden;
}

ul.more-information li {
    margin-bottom: 15px;
}

ul.more-information li.download {
    float: left;
    width: 50%;
}

ul.more-information li ul {
    width: 100%;
    overflow: hidden;
}

ul.more-information li.dropdown {
    float: left;
    width: 50%;
    margin-top:15px;
}

ul.more-information li.dropdown select {
    width: 95%;
}

ul.more-information li ul li {
    float: left;
    width: 22%;
}

ul.more-information li strong {
    display: block;
}

.button.oversize {
    display: block;
    margin-bottom: 15px;
    padding:15px 10px;
    background: url('../img/icons/arrows-large.png') #efeeee 96% 29px no-repeat;
    margin-bottom: 25px;
    border-top: 1px solid #dfdfdf;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    border-left: 1px solid #dfdfdf;
    text-decoration: none;
    color: #303030;
}

.button.oversize:hover {
   background: url('../img/icons/arrows-large.png') #dfdfdf 96% -56px no-repeat;
}


.button.oversize span {
    display: block;
    width: 85%;
    line-height: 100%;
    font-size: 12px;
}

.button.oversize span.title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
}

#dist table {
    margin-bottom: 35px;
}

#dist td {
    width: 20%;
    padding:10px;
}

#dist td.territories {
    width: 10%;
}



/* END REGISTER PAGE =======================================================
==========================================================================*/

/* BALLAST NAV PAGE*/

#ballast-nav li {
    float:left;
    width: 45%;
    height: 35px;
    margin-bottom: 15px;
}

/* END BALLAST NAV PAGE =======================================================
==========================================================================









* WARRANTY REG*/

#warrantyReg>div {
    padding: 20px;
}

#warrantyReg label.error{
    color: red;

}


#warrantyReg input{
    width: 50px;
}

/* END WARRANTY REG =======================================================
==========================================================================







/* APP NOTES PAGE*/

#application-notes li {
    float:left;
    width: 280px;
    padding-right: 30px;
    height: 55px;
    margin-bottom: 15px;
}

a.app-notes {
    background: url('../img/tabs/blue-tab.png') -135px 0 no-repeat;
    display: block;
    padding: 7px;
    width: 151px;
    text-transform: capitalize;
    color: #fff;
    margin-top:20px;
}

a.app-notes:hover {
    background-position: -135px -75px;
    color: #fff;
    text-decoration: none;
}

a.app-notes span {
    display: block;
    background: url('../img/icons/arrows.png') 131px 2px no-repeat;
    padding-right: 45px;
    width: 131px;
}

a.led-infographic-callout {
    background: url('../img/tabs/blue-tab.png')0 0 no-repeat;
    display: block;
    padding: 7px;
    width: 300px;
    text-transform: capitalize;
    color: #fff;
    margin-top:20px;
    position: relative;
    clear: both;
}

a.led-infographic-callout:hover {
    background-position: 0 -75px;
    color: #fff;
    text-decoration: none;
}

a.led-infographic-callout span {
    display: block;
    background: url('../img/icons/arrows.png') 201px 13px no-repeat;
    padding-right: 45px;
    margin-left: 60px;
    width: 190px;
}

a.led-infographic-callout img.led-icon {
	width: 36px;
	border: none;
	position: absolute;
	top: 13px; left: 13px;
}



/* END BALLAST NAV PAGE =======================================================
==========================================================================

/* WARRANTY REG*/

/* Globals-----------------------------------------*/
#warrantyReg>div { padding: 20px;}
#warrantyReg label.error{color: red; clear: left;}
#warrantyReg input {width: 100px;}
#warrantyReg input[type="date"], #warrantyReg input[type="email"] {width: 125px;}

#warrantyReg .row1, #warrantyReg .row2, #warrantyReg .row3, #warrantyReg .row4, #warrantyReg .row5, #warrantyReg .row6, #warrantyReg .row7, .submit_btn {clear:both;}
#warrantyReg .row1 ul li, #warrantyReg .row2 ul li, #warrantyReg .row3 ul li, #warrantyReg .row4 ul li, #warrantyReg .row7 ul li {width:300px !important;}
#warrantyReg .row5 .line, #warrantyReg .row5 .line {width:930px;}
div.line {float left; clear:both; margin: 10px 0;}
div.line input {margin: 0 10px;}

#warrantyReg ul li {margin:5px 0; float:left; clear:both !important;}
#warrantyReg ul li label {float:left; margin-top: 2.5px;}
#warrantyReg ul li input, #warrantyReg ul li select {float:right;}

/* END WARRANTY REG =======================================================
==========================================================================








/*Site Footer
========================================================================== */


footer.site {
    padding:25px;
    color: #fff;
}

footer.site ul {
    margin-bottom: 30px;
    font-size: 13px;
}

footer.site ul li {
    margin-bottom: 7px
}

footer.site a {
    color:#fff;
    text-decoration: none;
}

footer.site a:hover {
    text-decoration: underline;
}

footer.site ul li.head {
    color: #007ac3;
    font-size: 16px;
}

footer.site ul#legal {
    font-size: 11px;
}

footer.site ul#legal li.links a {
    color: #007ac3;
    font-size: 13px;
}

footer.site ul#legal li.links span {
    padding:0 10px;
}

footer.site ul#legal li.links a:hover {
    color: #fff;
}

.footer-panasonic {
    margin-top: 55px;
    text-align: right;
}

.footer-panasonic img {
    /*float: left;*/
    /*margin-top: -5px;*/
    vertical-align: initial !important;
    margin-left: 30px;
}

.footer-panasonic p {
    font-size: 10px;

}

/*Helper classes
========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}


/*Print styles.
Inlined to avoid required HTTP connection
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/****ESCO SUPPORT PAGE****/
.esco-products .buttons {
    clear: both;
    margin-right: 2px;
}
.esco-page .sub-head {
    background: #ECE9E9;
    height: 51px;
    margin-bottom: 15px;
}
.esco-page .sub-head h3 {
    padding: 15px;
}
.esco-products .buttons li, .application-dd {
    background-color: #007AC3;
    height: 51px;
    margin: 10px 0;
    text-align: center;
}
.application-dd {
    height: 125px;
}
.esco-products .buttons:hover {
    text-decoration: none;
}
.esco-products .buttons li p {
    color: white;
    padding: 14px 0;
}
.application-dd p {
    color: white;
    padding: 10px 0 0 0;
}
.application-dd a {
    display: block;
    color: white;
}
.esco-slide .button {
    display: none;
}
.esco-page .inner .left {
    padding: 10px;
}
.esco-page .inner .right {
    padding: 10px;
}
.esco-page .wrapper {
    display: flex;
    justify-content: space-between;
}
.esco-page .inner {
    display: inline;
    width: 48%;
}
.esco-page #form-wrapper {
    margin-bottom: 25px;
}
.esco-page #sidebar #form-wrapper {
    background-color: #ECE9E9;
}
#main-well .esco-slide .right a {
    padding: 0;
}
.esco-page #dsire-db {
    padding-top-top: 10px
}
.esco-products a:hover {
    color: white;
}


/* taps */
.esco-page #sidebar .tabbed-form a.active {
    background-color: #ECE9E9;
    display: inline-block;
}
.esco-page #sidebar .tabbed-form a.active {
    background-color: #ECE9E9;
    display: inline-block;
}
.esco-page #form-wrapper .wrapper {
    background-color: #ECE9E9;
}
.esco-page .tabbed {
    display: flex;
}
.esco-page .tabbed a {
    background-color: #C4C4C4;
    flex-grow: 1;
}
.esco-page #sidebar #spec.finder, .esco-page #sidebar #lit.finder, .esco-page #sidebar #last.finder {
    background-color: #ECE9E9;
}

.esco-page .tabbed-form p {
    font-size: 14px !important;
}
.esco-page .esco-select {
    display: flex;
    padding: 20px;
    background-color: #ECE9E9;
    margin-bottom: 20px
}
.esco-page .esco-select .logo {
    display: inline-block;
    width: 29%;
    font-size: 22px;
    padding: 30px 15px;
}

.esco-page .esco-select .into-txt {
    display: inline-block;
    width: 64%;
    padding: 10px;
}


/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.custom-dropdown select {
    width: 297px;
    height: 61px;
    background-color: #007AC3;
    color: #fff;
    font-size: inherit;
    padding: .5em;
    padding-right: 2.5em; 
    border: 0;
    margin: 0;
    border-radius: 0px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button; /* hide default arrow in chrome OSX */
}
.custom-dropdown::before,
.custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
}
.custom-dropdown::after { /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
}
.custom-dropdown::before { /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0;
}
.custom-dropdown select[disabled] {
    color: rgba(0,0,0,.3);
}
.custom-dropdown select[disabled]::after {
    color: rgba(0,0,0,.1);
}
.custom-dropdown::before {
    background-color: rgba(0,0,0,.15);
}
.custom-dropdown::after {
    color: rgba(0,0,0,.4);
}
.big {
    font-size: 1.2em;
}






