$browser_lang = substr($_SERVER['HTTP_ACCEPT_LANGUAGE'], 0, 2);

  switch ($browser_lang) {

    case 'en':
      $browser_lang = 'en';
    break;
    case 'es':
      $browser_lang = 'es';
    break;
    case 'fr':
      $browser_lang = 'fr';
    break;
    default:
      $browser_lang = 'en';
    break;

  }
  $preset_language = ( $browser_lang ? $browser_lang : 'en');
  $preset_language = ( isset($_COOKIE['ult_lang']) ? $_COOKIE['ult_lang'] : $browser_lang);
  $language = ( $language ? $language : $preset_language );
  $headerLoginMarkup = "";
  if ( ! $modx->user->get('id') ) {
    $headerLoginMarkup = '<a href="products/led-custom-components/login.html">Log in</a> | <a href="/register">Register</a>';
  } else {
    $headerLoginMarkup = '<a href="products/led-custom-components/login.html?service=logout">Log out</a> | <a href="/register">Register</a>';
  }

  if ( $language == 'en' ) {

  $output = '

         <header class="site">
            <div class="container_12">
                <a href="/">
                <img class="grid_3 alpha" src="img/logos/site-logo.png" alt="Universal Lighting Technologies"></a>
                <div id="register-form" class="prefix_5 grid_4 omega">
                  ' . $headerLoginMarkup . ' |
                  <a class="language" rel="es" href="/espanol/">ES</a> |
                  <a class="language" rel="fr" href="/francais/">FR</a>
                  <form class="clearfix" action="/search-results.html" method="POST">
                      <input type="search" name="search-string" placeholder="Find Pages, Products and Literature">
                  </form>
                </div>
            </div>
        </header>

        <div  id="main-navigation" class="container_12">
            <ul class="site grid_10 alpha">
                <li class="home"><a href="/"></a></li>
                <li><a href="products/">Products</a>
                  <div class="products dropdown">
                    <figure>
                      <img src="img/dd-placeholder.png">
                      <h3>Universal Products</h3>
                      <p>UNIVERSAL® and TRIAD® are respected brands that can save your customers up to 40% on energy bills. </p>
                      <a class="spec-finder" href="/literature/spec-finder.html">
                        <span>Spec Finder</span>
                      </a>
                    </figure>
                      <ul class="sub-categories">
                        <li><a class="retrofit" href="products/led-retrofit-kits-luminaires/">LED Retrofit Kits / Luminaires / Tubes</a></li>
                        <!-- <li><a class="space" href="products/space-player/">Space Player</a></li> -->
                        <li><a class="led" href="products/drivers-modules/">LED drivers & modules</a></li>
                        <li><a class="compact" href="products/compact-fluorescent-ballasts/">compact fluorescent ballasts</a></li>
                        <li class="two-lines"><a class="energy-management" href="products/energy-management/">Dimming Fluorescent</a></li>
                        <li><a class="linear" href="products/linear-fluorescent-ballasts/">linear fluorescent ballasts</a></li>
                        <li><a class="electronic" href="products/hid-ballasts/">electronic & magnetic HID ballasts</a></li>
                        <li><a class="lamps" href="products/lampholders/">lampholders</a></li>
                    <li><a class="sign" href="products/sign-ballasts/">sign channel led & linear fluorescent ballast</a></li>
                    <li><a class="sensors" href="products/wiring-devices-sensors/">Wiring Devices / Sensors</a></li>
                      </ul>
                  </div>
                </li>
                <li><a href="/literature/">Literature</a>
                    <div class="literature dropdown">
                      <ul class="sub-categories">
                        <li><a href="/literature/">Literature Finder</a></li>
                        <li><a href="literature/ballast-navigator/">Ballast Navigator</a></li>
                        <li><a href="pdf/literature/brochures//EVERLINE_LED Selector Guide.pdf ">LED Selector Guide</a></li>
                        <li><a href="pdf/literature/brochures/ballast-selector-guide.pdf">Ballast Selector Guide</a></li>
                      </ul>
                  </div>
                </li>
                <li><a href="support/">Support</a>
                    <div class="support dropdown">
                      <ul class="sub-categories odd">
                        <li class="title"><h3>Customer Support</h3></li>
                        <li><a href="support/oem-team/">OEM Team</a></li>
                        <li><a href="support/distribution-team/">Distribution Team</a></li>
                        <li><a href="support/sign-team/">Sign Team</a></li>
                        <li><a href="support/international-team/">International Team</a></li>
                        <li><a href="https://my.unvlt.com:4443/pls/apex/f?p=130:1">Warranty Support</a></li>
                        <li><a href="/distributor_TC.pdf">Distributor T&C</a></li>
                        <li><a href="pdf/mediaInfo/OEM_TC.pdf">OEM T&C</a></li>
                        <li><a href="/support/led-driver-tuning/">LED Driver Tuning</a></li>
                      </ul>
                      <ul class="sub-categories">
                        <li class="title"><h3>ESCO Support</h3></li>
                      </ul>
                      <ul class="sub-categories odd">
                        <li class="title"><h3>Technical Support</h3></li>
                        <li><a href="literature/spec-finder.html">Spec Finder</a></li>
                        <!-- <li><a href="pdf/mediaInfo/estar-ballast-matrix.pdf">Energy Star Ballasts</a></li> -->
                      </ul>
                  </div>
                </li>
                <li><a href="about-ult/company-profile/">About Universal</a>
                    <div class="about dropdown">
                      <ul class="sub-categories">
                        <li><a href="about-ult/panasonic-global-lighting-devices/">Panasonic Global Lighting Devices</a></li>
                        <li><a href="about-ult/company-profile/">Company Profile</a></li>
                        <li><a href="about-ult/human-resources/">Human Resources</a></li>
                        <li><a href="about-ult/career-opportunities/">Career Opportunities</a></li>
                        <li><a href="about-ult/privacy-policy/">Privacy Statement</a></li>
                        <li><a href="about-ult/contact/">Contact Info</a></li>
                        <li><a href="about-ult/ip/">Intellectual Property</a></li>
                        <li><a href="about-ult/press-releases/">Press Releases</a></li>

                      </ul>
                  </div>
                </li>
            </ul>
            <nav class="social grid_2 omega">
                <a class="facebook" href="https://www.facebook.com/pages/Universal-Lighting-Technologies/154458567927599"></a>
                <a class="twitter" href="https://twitter.com/UNVLT"></a>
                <a class="linkedin" href="http://www.linkedin.com/company/universal-lighting-technologies"></a>
            </nav>
        </div> ';
  }

  if ( $language == 'es' ) {

  $output = '

         <header class="site">
            <div class="container_12">
                <a href="/">
                <img class="grid_3 alpha" src="img/logos/site-logo.png" alt="Universal Lighting Technologies"></a>
                <div id="register-form" class="prefix_5 grid_4 omega">
                  ' . $headerLoginMarkup . ' |
                  <a class="language" rel="en" href="/">EN</a> |
                  <a class="language" rel="fr" href="/francais/">FR</a>
                  <form class="clearfix" action="/search-results.html" method="POST">
                      <input type="search" name="search-string" placeholder="Find Pages, Products and Literature">
                  </form>
                </div>
            </div>
        </header>

        <div  id="main-navigation" class="container_12">
            <ul class="site grid_10 alpha">
                <li class="home"><a href="/"></a></li>
                <li><a href="products/">Productos</a>
                  <div class="products dropdown">
                    <figure>
                      <img src="img/dd-placeholder.png">
                      <h3>Universal Products</h3>
                      <p>UNIVERSAL® and TRIAD® are respected brands that can save your customers up to 40% on energy bills. </p>
                      <a class="spec-finder" href="/literature/spec-finder.html">
                        <span>Spec Finder</span>
                      </a>
                    </figure>
                      <ul class="sub-categories">
                        <li><a class="led" href="products/drivers-modules/">LED drivers & modules</a></li>
                        <li><a class="compact" href="products/compact-fluorescent-ballasts/">compact fluorescent ballasts</a></li>
                        <li class="two-lines"><a class="energy-management" href="products/energy-management/">dimming, energy management & controllable lighting</a></li>
                        <li><a class="linear" href="products/linear-fluorescent-ballasts/">linear fluorescent ballasts</a></li>
                        <li><a class="electronic" href="products/hid-ballasts/">electronic & magnetic HID ballasts</a></li>
                        <li><a class="lamps" href="products/lamps-lampholders/">linear fluorescent lamps & lampholders</a></li>
                      </ul>
                  </div>
                </li>
                <li><a href="/literature/">Literatura</a>
                    <div class="literature dropdown">
                      <ul class="sub-categories">
                        <li><a href="/literature/">Literature Finder</a></li>
                        <li><a href="literature/ballast-navigator/">Ballast Navigator</a></li>
                        <li><a href="pdf/literature/brochures/ballast-selector-guide.pdf">Ballast Selector Guide</a></li>
                      </ul>
                  </div>
                </li>
                <li><a href="support/">Soporte</a>
                    <div class="support dropdown">
                      <ul class="sub-categories odd">
                        <li class="title"><h3>Customer Support</h3></li>
                        <li><a href="support/oem-team/">OEM Team</a></li>
                        <li><a href="support/distribution-team/">Distribution Team</a></li>
                        <li><a href="support/sign-team/">Sign Team</a></li>
                        <li><a href="support/international-team/">International Team</a></li>
                        <li><a href="http://warranty.universalballast.com/">Warranty Support</a></li>
                        <li><a href="pdf/mediaInfo/Distributor_TC.pdf">Distributor T&C</a></li>
                        <li><a href="pdf/mediaInfo/OEM_TC.pdf">OEM T&C</a></li>
                      </ul>
                      <ul class="sub-categories">
                        <li class="title"><h3>Technical Support</h3></li>
                        <li><a href="literature/spec-finder.html">Spec Finder</a></li>
                        <!-- <li><a href="pdf/mediaInfo/estar-ballast-matrix.pdf">Energy Star Ballasts</a></li> -->
                      </ul>
                  </div>
                </li>
                <li><a href="about-ult/company-profile/">Acerca Universal</a>
                    <div class="about dropdown">
                      <ul class="sub-categories">
                        <li><a href="about-ult/company-profile/">Company Profile</a></li>
                        <li><a href="about-ult/human-resources/">Human Resources</a></li>
                        <li><a href="about-ult/career-opportunities/">Career Opportunities</a></li>
                        <li><a href="about-ult/privacy-policy/">Privacy Statement</a></li>
                        <li><a href="about-ult/contact/">Contact Info</a></li>
                        <li><a href="about-ult/ip/">Intellectual Property</a></li>
                        <li><a href="about-ult/press-releases/">Press Releases</a></li>
                      </ul>
                  </div>
                </li>
            </ul>
            <nav class="social grid_2 omega">
                <a class="facebook" href="https://www.facebook.com/pages/Universal-Lighting-Technologies/154458567927599"></a>
                <a class="twitter" href="https://twitter.com/UNVLT"></a>
                <a class="linkedin" href="http://www.linkedin.com/company/universal-lighting-technologies"></a>
            </nav>
        </div> ';
  }

  if ( $language == 'fr' ) {

  $output = '

         <header class="site">
            <div class="container_12">
                <a href="/">
                <img class="grid_3 alpha" src="img/logos/site-logo.png" alt="Universal Lighting Technologies"></a>
                <div id="register-form" class="prefix_5 grid_4 omega">
                  ' . $headerLoginMarkup . ' |
                  <a href="/" rel="en" class="language" >EN</a> |
                  <a href="/espanol/" rel="es" class="language">ES</a>
                  <form class="clearfix" action="/search-results.html" method="POST">
                      <input type="search" name="search-string" placeholder="Find Pages, Products and Literature">
                  </form>
                </div>
            </div>
        </header>

        <div  id="main-navigation" class="container_12">
            <ul class="site grid_10 alpha">
                <li class="home"><a href="/"></a></li>
                <li><a href="products/">Produits</a>
                  <div class="products dropdown">
                    <figure>
                      <img src="img/dd-placeholder.png">
                      <h3>Universal Products</h3>
                      <p>UNIVERSAL® and TRIAD® are respected brands that can save your customers up to 40% on energy bills. </p>
                      <a class="spec-finder" href="/literature/spec-finder.html">
                        <span>Spec Finder</span>
                      </a>
                    </figure>
                      <ul class="sub-categories">
                        <li><a class="led" href="products/drivers-modules/">LED drivers & modules</a></li>
                        <li><a class="compact" href="products/compact-fluorescent-ballasts/">compact fluorescent ballasts</a></li>
                        <li class="two-lines"><a class="energy-management" href="products/energy-management/">energy management & controllable lighting</a></li>
                        <li><a class="linear" href="products/linear-fluorescent-ballasts/">linear fluorescent ballasts</a></li>
                        <li><a class="electronic" href="products/hid-ballasts/">electronic & magnetic HID ballasts</a></li>
                        <li><a class="lamps" href="products/lamps-lampholders/">linear fluorescent lamps & lampholders</a></li>
                      </ul>
                  </div>
                </li>
                <li><a href="/literature/">Litterature</a>
                    <div class="literature dropdown">
                      <ul class="sub-categories">
                        <li><a href="/literature/">Literature Finder</a></li>
                        <li><a href="literature/ballast-navigator/">Ballast Navigator</a></li>
                        <li><a href="pdf/literature/brochures/ballast-selector-guide.pdf">Ballast Selector Guide</a></li>
                      </ul>
                  </div>
                </li>
                <li><a href="support/">Support</a>
                    <div class="support dropdown">
                      <ul class="sub-categories odd">
                        <li class="title"><h3>Customer Support</h3></li>
                        <li><a href="support/oem-team/">OEM Team</a></li>
                        <li><a href="support/distribution-team/">Distribution Team</a></li>
                        <li><a href="support/sign-team/">Sign Team</a></li>
                        <li><a href="support/international-team/">International Team</a></li>
                        <li><a href="http://warranty.universalballast.com/">Warranty Support</a></li>
                        <li><a href="pdf/mediaInfo/Distributor_TC.pdf">Distributor T&C</a></li>
                        <li><a href="pdf/mediaInfo/OEM_TC.pdf">OEM T&C</a></li>
                      </ul>
                      <ul class="sub-categories">
                        <li class="title"><h3>Technical Support</h3></li>
                        <li><a href="literature/spec-finder.html">Spec Finder</a></li>
                        <!-- <li><a href="pdf/mediaInfo/estar-ballast-matrix.pdf">Energy Star Ballasts</a></li> -->
                      </ul>
                  </div>
                </li>
                <li><a href="about-ult/company-profile/">A Propos Universal</a>
                    <div class="about dropdown">
                      <ul class="sub-categories">
                        <li><a href="about-ult/company-profile/">Company Profile</a></li>
                        <li><a href="about-ult/human-resources/">Human Resources</a></li>
                        <li><a href="about-ult/career-opportunities/">Career Opportunities</a></li>
                        <li><a href="about-ult/privacy-policy/">Privacy Statement</a></li>
                        <li><a href="about-ult/contact/">Contact Info</a></li>
                        <li><a href="about-ult/ip/">Intellectual Property</a></li>
                        <li><a href="about-ult/press-releases/">Press Releases</a></li>
                      </ul>
                  </div>
                </li>
            </ul>
            <nav class="social grid_2 omega">
                <a class="facebook" href="https://www.facebook.com/pages/Universal-Lighting-Technologies/154458567927599"></a>
                <a class="twitter" href="https://twitter.com/UNVLT"></a>
                <a class="linkedin" href="http://www.linkedin.com/company/universal-lighting-technologies"></a>
            </nav>
        </div> ';


  }

  return $output;