<div class="tabbed-form">
  <nav class="tabbed">
    <a class="active" href="#spec">
      <h3>Lighting Design</h3>
    </a>
    <a href="#lit">
      <h3>Technical Support</h3>
    </a>
    <a href="#last">
      <h3>Training</h3>
    </a>
  </nav>
  <div id="form-wrapper">
    <form id="spec" class="finder active">
      <div class="wrapper">
        <span class="inner">
          <img class="left" src="/img/esco/Image 4_Lighting Design.jpg" alt="">
        </span>
        <span class="inner right">
          <h3>Request for Lighting Design Support</h3>
          <p>Quickly turn your notes into a lighting audit for an existing facility. Universal can assist you with a custom lighting project proposal – complete with your logo and the information you need for a winning proposal.</p>
          <p>Click <a target="_blank" href="mailto:sphillips@unvlt.com?Subject=Request%20for%20Lighting%20Design%20Support">here</a> to request a Lighting Proposal.</p>
        </span>
      </div>
    </form>
    <form id="lit" class="finder">
      <div class="wrapper">
        <span class="inner">
          <img class="left" src="/img/esco/Image 5_Technical Support.jpg" alt="">
        </span>
        <span class="inner right">
          <h3>Request for Technical Support</h3>
          <p>Universal has a team of technical support personnel standing by who are ready, willing and able to assist you with your questions. Get the information you need quickly with a real person by calling 1-800-225-5278.</p>
        </span>
      </div>
    </form>
    <form id="last" class="finder">
      <div class="wrapper">
        <span class="inner">
          <img class="left" src="/img/esco/Image 6_Training.jpg" alt="">
        </span>
        <span class="inner right">
          <h3>Request for Product Training</h3>
          <p>Universal will provide your team with local product training (face-to face), and access to digital training via our online courses, videos and website.</p>
        </span>
      </div>
    </form>
  </div>
</div>

